- name: Create namespace
  shell: |
    kubectl create ns argocd --dry-run=client -o yaml | kubectl apply -f -

- name: Install ArgoCD
  shell: |
    kubectl apply -n argocd \
      -f https://raw.githubusercontent.com/argoproj/argo-cd/stable/manifests/install.yaml

- name: Patch argocd-server service to NodePort
  shell: |
    kubectl patch svc argocd-server -n argocd \
    -p '{"spec": {"type": "NodePort"}}'

